html{
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
}


body{
    background: url(../images/bg-desktop.svg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    padding: 15px 30px;
    display: flex;
}

.header .title {
    height: 30px;
    width: 150px;
    margin-top: 20px;
    
}

.hero {
    display: flex;
    margin-top: 20px;
    padding: 30px;
    height: 75%;
}

.hero div img{
    height: 100%;
}

.hero .infos{
    display: flex;
    flex-direction: column;
    color: #fff;
    align-content: center;
    padding: 15px;
    margin: 40px 30px;
    width: 500px;
}

.hero .infos h2{
    width: 400px;
    text-align: left;
    gap: 30px;

}

.hero .infos p{
    text-align: left;
    margin-top: 24px;
}

.hero .infos a{
    margin-top: 20px;
    align-self: flex-start;
    background-color: #fff;
    padding: 15px 60px;
    border-radius: 60px;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 4px 50px 3px rgba(0,0,0,0.41);
}

.hero .infos a:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}


.footer .icons{
    display: flex;
    width: 100%;
    justify-content: end;
}
.footer .icons ul{
    display: flex;
    margin-right: 220px;
    gap: 10px;
}

.footer .icons ul li a{
    border: solid 1.5px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    color: #fff;
}

.footer .icons ul li a i{
    font-size: 18px;
}
.footer .icons ul li .face{
    padding: 6px 12px 6px 10px;
}
.footer .icons ul li .twitter{
    padding: 6px 8px;
}
.footer .icons ul li .insta{
    padding: 6px 8px;
}
.footer .icons ul li .insta i{
    font-size: 19px;
}

.footer .icons a:hover{
    color: hsl(300, 69%, 71%);
} 

